.shop-images-page{
    display: flex;
    width: 100%;
    justify-content: center;
     margin: 50px;
}

.gallery-div {
    width: 100%;
    max-width: 1000px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1000px;
    grid-auto-rows: 1fr;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}


.overlay-div, .overlay-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  border-radius: 2em;
}
.overlay-div {
    z-index: 1;
     align-items: flex-start;
  justify-content: flex-start;
}
.overlay-div2 {
    display: none;
    background-color: rgba(246, 240, 226, 0.7);
    z-index: 2;
    justify-content: center;
    align-items: center;
}
.container:hover .overlay-div2{
   display: flex;
}


.shop-image {
    position: absolute;
     width: 100%;
    height: 100%;
    padding-bottom: calc(100% - 2px);
    background-size: cover;
    background-position: center;
    border-radius: 2em;
    box-sizing: border-box;
    background-color: grey;
    z-index: 0,
}
.user-dot {
    color: aqua;
    font-size: 50px;
}
.trashcan {
    color: #FF253F;
    font-size: 100px;
    margin: 10px; /* Adjust as needed for spacing */
}
