#shop-detail-cover-container {
    width: 90%;
    height: 500px;
    border: none;
    margin: 0 auto;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: #2b5a8d;
    position: relative;
}

#title {
    font-size: 36px;
}

#add-image-button{
    position: absolute;
    right: 5px;
    top: 40%;
    color: rgb(14, 35, 58);
    width: 150px;
}

#add-image-button:hover{
    background-color: #5c98d7;
}

#about-section{
    position: absolute;
    margin-top: 200px;
    margin-left: 20%;
    max-width: 36%;
    border-bottom: 1px solid #2b5a8d;
}

.shop-detail-heading-container {
    background-color: #F6F0E2;
    width: fit-content;
    border: none;
    border-radius: 1em;
    padding: 25px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 625px;
    margin-left: 20%;
}

.see-all-photos-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 280px;
    width: 150px;
    margin-right: 22%;
    color: rgb(14, 35, 58);
}

.see-all-photos-button:hover {
    background-color: #5c98d7;
    color: rgb(14, 35, 58);
}

#shop-detail-additional-info-container {
    position: absolute;
    right: 0;
    margin-top: 400px;
    margin-right: 22%;
    text-align: center;
    background-color: white;
    width: fit-content;
    padding: 10px;
}

#categories {
    display: flex;
}

#categories:hover {
    cursor: pointer;
}

#rating-container {
    display: flex;
}

#price-categories-container {
    display: flex;
    align-items: center;

}

.separator {
    margin: 0px 10px;
}

#prev-img{
    height: 99%;
    margin: 1px;
    width: 50%;
}

#hours-address-container {
    position: absolute;
    right: 0;
    margin-right: 20%;
    text-align: center;
    height: fit-content;
    background-color: white;
    width: 222px;
    border: 1px solid #2b5a8d;
    border-radius: 1em;
    padding: 10px;
    margin-top: 30px;
}

.address-text {
    padding: 15px 0px;
}

.categories-tag:hover{
    cursor: pointer;
}
