#modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#modal-background {
  padding-top:100px;
  padding-bottom:100px;
  display: flex;
  justify-content: center;
}

#modal-content {
  background-color: #FFF;
}
