.whole-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    align-items: center;
}

.create-review-button {
    display: flex;
    align-self: center;
    margin-top: 20px;
    
}