#create-edit-form{
  width: 75%;
  margin: 0 auto;
}

.form-title{
  text-align: center;
  border-bottom: 2px solid #87A9CB;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

.form-header > h3{
  font-size: 32px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.form-header > p{
  font-size: 13px;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 1px solid grey;
  font-style: italic
}

.form-header{
  border-bottom: 2px solid #b8c0c8;
  margin-bottom: 10px;
  width: 120%;
  margin-left: -10%;
}

.form-label{
  font-size: 22px;
  padding-top: 20px;
  text-decoration: underline;
}

#multiple-select:hover{
  background-color: transparent;
}

#multiple-select{
  width: 99%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

option{
  padding: 25px;
  margin: 1px;
}

option:hover{
  margin: 1px;
  padding: 25px;
  background-color: #87A9CB;
}

option:focus{
  padding: 25px;
  background-color: #87A9CB;
  border: none;
  outline: none;
}

.hours-button{
  margin: 5px;
}

.form-dollar {
  color: lightgrey;
  font-size: 40px;
  margin-left: 30px;
  background-color: white;
}

.form-dollar:hover {
  color: rgb(0, 145, 194);
  font-size: 40px;
  margin-left: 30px;
  cursor: pointer;
}

.form-dollar-filled:hover {
  color: lightblue;
  font-size: 40px;
  margin-left: 30px;
  cursor: pointer;
}

.form-dollar-filled{
  color: #2b5a8d;
  font-size: 40px;
  margin-left: 30px;
}

textarea{
  width: 99%;
}

.text-specification{
  display: flex;
  align-items: center;
}

.text-specification > i{
  font-size: 10px;
  margin-top: 30px;
  margin-left: 10px;
}

.form-submit-button{
  width: 99%;
  margin-top: 30px;
  height: 75px;
}

#form-demo-button{
  position: absolute;
  right: 0;
  margin-right: 55px;
}

.time-select{
  font-size: 15px;
}
