#user-page-title{
    text-align: center;
    padding-top: 20px;
}

.user-page-subtitle{
    text-align: center;
}

#profile-info{
    text-align: center;
    border: 1px solid rgb(14,35,58);
    border-radius: 2em;
    box-shadow: 4px 3px 5px rgb(14,35,58, 0.5);
    margin: 0 auto;
    width: 250px;
    margin-bottom: 20px;
}

#profile-info > h2{
    border-bottom: 3px solid #87A9CB;
    padding-bottom: 5px;
}

.profile-section{
    text-align: center;
    border: 1px solid rgb(14,35,58);
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 2em;
    box-shadow: 4px 3px 5px rgb(14,35,58, 0.5);
    padding: 20px;
}

.profile-section > h2{
    border-bottom: 3px solid #87A9CB;
    padding-bottom: 5px;
}

#user-profile-edit{
    font-size: 10px;
    text-decoration: underline;
}

.profile-review-tile{
    border: 1px solid rgb(14,35,58);
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 2em;
    padding: 25px;
}

.profile-shop-tile{
    border: 1px solid rgb(14,35,58);
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 2em;
    padding: 25px;
}

.profile-review-tile:hover{
    box-shadow: 4px 3px 5px rgb(14,35,58, 0.7);
    cursor: pointer;
}


#user-profile-header{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #87A9CB;
    margin-bottom: 10px;
}
#new-shop-button{
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 12px;
}
.profile-shop-tile{
    border: 1px solid rgb(14,35,58);
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 15px;
}

.profile-shop-tile:hover{
    box-shadow: 4px 3px 5px rgb(14,35,58, 0.7);
    cursor: pointer;
}

.update{
    padding: 10px;
    margin: 5px;
}

.delete{
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: #FF253F;
}

.delete:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
