.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    margin: 0 auto;

}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input {
    margin-bottom: 10px;
    width: 99%;
    padding: 15px
}
