.shop-reviews{
    width: 80%;
    margin: 0 auto;
}

.review-title {
    font-size: 38px;
    margin-top: 500px;
}

.first-name {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #5c98d7;
    width: 10%;
    margin-bottom: 15px;
}

.rating-date {
    display: flex;
}

.date {
    margin-left: 10px;
}

.shop-details-review-image{
    width: 150px;
    height: 150px;
    margin: 10px;
}
