.shop-reviews{
    width: 60%;
    margin: 0 auto;
}

.review-title {
    font-size: 35px;
    margin-top: 500px;
}

.first-name {
    font-size: 28px;
}

.rating-date {
    display: flex;
}

.date {
    margin-left: 10px;
}

.shop-details-review-image{
    width: 125px;
    margin: 10px;
}
