/* TODO: Add sitewide styles */
* {
  font-family: "Noticia Text", serif;
  /* color: rgb(14, 35, 58); */
  /* background-color: #FADEB6; */
}

body {
  margin: 0px;
  color: rgb(14, 35, 58);
}

a {
  color: rgb(14, 35, 58);
}

button {
  background-color: #87a9cb;
  border: none;
  border-radius: 1em;
  color: white;
  padding: 10px;
}

button:hover {
  background-color: #2b5a8d;
  color: white;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #2b5a8d;
  width: 99%;
}

input:hover {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #87a9cb;
}

input:focus {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 3px solid #87a9cb;
}

textarea {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #2b5a8d;
  width: 99%;
  height: 40px;
  font-size: 15px;
  padding-bottom: 0;
}

textarea:hover {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #87a9cb;
}

textarea:focus {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 3px solid #87a9cb;
}

select {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
}

select:hover {
  border: none;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}

select:focus {
  border: none;
  outline: none;
}

option {
  background-color: rgb(0, 0, 0, 0.1);
}

option:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.confirm-delete {
  padding: 15px;
  width: 75%;
  margin: 5px;
}

.cancel-delete {
  padding: 15px;
  width: 75%;
  margin: 5px;
}
.confirm-delete:hover {
  background-color: #ff253f;
  cursor: pointer;
}

.delete-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.delete-modal-container > h1 {
  border-bottom: 1px solid #ff253f;
}

.delete-modal-container > i {
  color: #ff253f;
  padding: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

#modal-content {
  border-radius: 2em;
  padding: 20px;
}
