/* TODO: Add sitewide styles */
* {
    font-family: "Noticia Text", serif;
    color: rgb(14,35,58);
    /* background-color: #FADEB6; */
}

button{
    background-color: #87a9cb;
    border: none;
    border-radius: 1em;
    color: white;
    padding: 10px;
}

button:hover{
    background-color: #2b5a8d;
    color: white;
    cursor: pointer;
}
