.nav-bar-background {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #abc2db;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
}

.nav-text {
  margin: 0px 30px;
}

.nav-text:hover {
  cursor: pointer;
  color: #2b5a8d;
}

#nav-logo {
  width: 75px;
}

#nav-logo-text {
  color: black;
  font-size: larger;
  text-decoration: none;
}

/* Search Bar CSS */
.search-bar {
  height: 30px;
  /* width: 60%; */
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
}
/* .top-half-search,
.bottom-half-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.category-label {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.price-range-div {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid grey;
  border-radius: 10px;
}

.price-range-div > button {
  border: none;
  border-right: 1px solid grey;
  padding: 5px;
  border-radius: 0;
}

#left-button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid grey;
}

#right-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dollar {
  color: lightgrey;
  background-color: white;
}

.dollar:hover {
  background-color: #2b5a8d;
  color: white;
}

.dollar-filled:hover {
  background-color: #2b5a8d;
  color: lightblue;
}

.dollar-filled {
  background-color: #2b5a8d;
  color: white;
}

.dollar-filled:active {
  background-color: #2b5a8d;
  color: white;
}

#search-submit {
  margin-left: 10px;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  margin-right: 8px;
  margin-top: 36px;
  padding-left: 0;
  border-radius: 1em;
  width: 175px;
  background-color: #87a9cb;
  text-align: center;
  z-index: 5;
}

.profile-dropdown > button {
  width: 100%;
  border-radius: 0 0 1em 1em;
  font-size: 12px;
}

.profile-dropdown > li {
  background-color: #87a9cb;
  border: none;
  font-size: 12px;
  color: white;
  padding: 10px;
  border-radius: 1em;
}

.profile-dropdown > li:hover {
  background-color: #2b5a8d;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .nav-bar-background {
    height: 215px;
  }
  .nav-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;
  }
  .search-bar {
    flex-direction: column;
    height: fit-content;
    gap: 10px;
  }
  .name-search {
    width: 80%;
  }
  .catagory-search {
    width: 80%;
  }
  .category-label {
    width: 100%;
  }
  .catagory-select {
    width: 100%;
  }
  .price-range-search {
    display: flex;
    justify-content: flex-start;
    width: 80%;
  }
  .submit-buttons {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    gap: 10px;
  }
  #search-submit {
    margin: 0;
  }
}
