.profile-dropdown {
  position: absolute;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #ABC2DB;
  padding: 5px 20px;
}

.nav-text {
  margin: 0px 30px
}

.nav-text:hover {
  cursor: pointer;
  color: #DEB98E;
}

#nav-logo {
  width: 75px;
}

#nav-logo-text {
  color: black;
  font-size: larger;
  text-decoration: none;
}



/* Search Bar CSS */
.search-bar {
  height: 30px;
  /* width: 60%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
}

.category-label {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.price-range-div {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid grey;
  border-radius: 3px;
}
.price-range-div > button {
  border: none;
  background-color: white;
  border-right: 1px solid grey
}



.left-button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px,;
}
.right-button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dollar {
    color: lightgrey;
  }
.dollar:hover {
  background-color: #B8C0C8;
  color: white;
}
.dollar-filled:hover {
    background-color: #B8C0C8;

  }

  .dollar-filled {
    color: black;

  }
